::selection {color: #C2C2C2; background: transparent;}
::-moz-selection {color: #C2C2C2; background: transparent;}
::-webkit-selection {color: #C2C2C2; background: transparent;}

::-webkit-scrollbar {
    width: 2px; height: 3px; background: #000000;cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png), auto; 
}

::-webkit-scrollbar-thumb {
    background-color:#ffffff; border: 0px solid;cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png), auto; 
}

body {
    margin:0px;
    text-align:justify;
    color:#ffffff;
    background:#adadad;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:11px;
 cursor:url(https://i.postimg.cc/Px4ysW9f/tiny.png), auto; 
}
    
h1 {
    color:#c4c4c4;
    text-transform:uppercase;
    letter-spacing:3px;
    font-size:15px;
    text-align:center;
}
    
pre { 
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
    
blockquote {
    border-left:1px solid #d7d7d7;
    padding-left:7px;
}
    
a {
    color:#ecdccc;
    text-decoration:none;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;transition all 0.8s ease-out;
}
    
a:hover {
    color:#ffffff;
    cursor: url(https://i.postimg.cc/Px4ysW9f/tiny.png), auto; 
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;transition all 0.8s ease-out;
}    


    
.sidebar {
    position:fixed;
    width:100px;height:100px;;
    left:565px;
    top:265px;
    padding:20px;
    font-family:arial;
    color:#ffffff;

}
#border {
    
    position:fixed;
    height:200%;
    margin-left:50%;
    margin-top:-10px;
    border-right:30px solid #68726E;z-index:10;
  -webkit-transform: rotate(90deg); 
   -moz-transform: rotate(-90deg);
    
}


#sidebarimage img {
      position:fixed;
    max-width:400px;
    margin-left:875px;margin-top:315px;
    -webkit-transition: opacity 0.8s linear;
    opacity: ; border:1px solid #3d3d3d; z-index:100;filter:blur(0.2px);border-radius:5px;
}

.recta{
	position:fixed;margin-left:265px;margin-top:75px;
  width: 10px;
	height: 125px;
	background-color:#1F2A30;border-radius:5px;
}
.cuadrado{
	position:fixed;margin-left:700px;margin-top:45px;
  width: 25px;
	height: 25px;
	background-color:#2C383C;
}
.cuadrado2{
	position:fixed;margin-left:700px;margin-top:75px;
  width: 25px;
	height: 25px;
	background-color:#455453;
}
.cuadrado3{
	position:fixed;margin-left:700px;margin-top:105px;
  width: 25px;
	height: 25px;
	background-color:#68726E;
}

#sidebarimage img:hover {
    -webkit-transition: opacity 0.8s linear;
    opacity: 1;  z-index:100;filter:blur(0.9px); 
}  



#title {
    position:fixed;
    font-family: 'Cedarville Cursive', CURSIVE ;
    letter-spacing:2px;
    color:#8C8A79;
    font-size:15px;
    letter-spacing:0.9px;
    word-spacing:6px; margin-top:280px;margin-left:1175px;opacity:0.7;
}
 
#name {
    position:fixed;
    display:inline-block;
    font-family: 'Cedarville Cursive', cursive;
    color:#5e5e5e;
    font-size:25px;
    margin-top:500px;line-height: 120%;
    text-align:left;
    width:200px;
    margin-left:575px;
   -webkit-transform: rotate(90deg); 
   -moz-transform: rotate(-90deg);
}
#description {
     position:fixed;
    display:inline-block;
    font-family:'Cedarville Cursive',;
    color:#536060;
    font-size:12px;
    margin-top:535px;line-height:10%;
    text-align:right;
    width:275px;
    margin-left:1000px;
}
#description2 {
     position:fixed;
    display:inline-block;
    font-family:'Cedarville Cursive',;
    color:#737E7C;
    font-size:12px;
    margin-top:555px;line-height: 120%;
    text-align:right;
    width:275px;
    margin-left:1000px;
}
#description3 {
     position:fixed;
    display:inline-block;
    font-family: 'Cedarville Cursive',;
    color:#536060;
    font-size:12px;
    margin-top:570px;line-height: 120%;
    text-align:right;
    width:275px;
    margin-left:1000px;
}
#description4 {
     position:fixed;
    display:inline-block;
    font-family: 'Cedarville Cursive',;
    color:#737E7C;
    font-size:12px;
    margin-top:600px;line-height: 120%;
    text-align:right;
    width:275px;
    margin-left:1000px;
}
#description5 {
     position:fixed;
    display:inline-block;
    font-family: 'Cedarville Cursive',;
    color:#536060;
    font-size:12px;
    margin-top:615px;line-height: 120%;
    text-align:right;
    width:275px;
    margin-left:1000px;
}
 #bff {
     position:fixed;
    display:inline-block;
    font-family:'Cedarville Cursive',;
    color:#A79F86;
    font-size:15px;
    margin-top:450px;line-height: 120%;
    text-align:left;
    width:200px;
    margin-left:1290px;
}
.linea {
  position:fixed;
  border-left: 275px solid #8C8A79;
  height: 1px;
  margin-top:295px;margin-left:890px;opacity:0.4;
}
